.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.visited-flag-cointainer img {
  width: 120px;
  display: flex;
  margin-left: 10px;
}
.visited-flag-cointainer {
  display: flex;
}
